<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GET / POST</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
  <section>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <button type="submit">Upload</button>
    </form>
  </section>
  <section>
    <ul>
      {{#each files}}
        <li>
          <a href="{{ this.path }}">{{ this.name }}</a>
          {{#if this.isText}}
            {{!-- <a href="/count{{ this.path }}" class="btn">Count</a> --}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </section>
</body>
</html>