section {
  width: 70%;
  margin: 3rem auto;
}

li {
  margin-bottom: .75rem;
}

.btn {
  color: #888;
  border-radius: .25rem;
  border: 1px solid #888;
  text-decoration: none;
  padding: .05rem .2rem;
  margin-left: .6rem;
}
