section {
  width: 70%;
  margin: 3rem auto;
}

form {
  margin-bottom: 1rem;
}

li {
  margin-bottom: .75rem;
}

.txt-c {
  text-align: center;
}

.btn {
  color: #888;
  border-radius: .25rem;
  border: 1px solid #888;
  text-decoration: none;
  padding: .05rem .2rem;
}
